*
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a 
{
    text-decoration: none;
    color: #fff;
}

.header
{
    display: flex;
    background: #333;/*var(__black-color)*/
    color: #fff;
    flex-direction: row;
    max-width: 100%;
    align-items: stretch;
    position: fixed;
}

.header__logo
{
    padding: 16px 32px;
    max-width: 120px;
}

.header__logo img
{
    width: 100%;
}

.header__navbar
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background: #333;/*var(__black-color)*/
    text-transform: uppercase;
}
  
.header__navbar-item
{
    display: flex;
    padding: 0 32px;
}

.header__navbar-item:hover
{
    color: #4d7427;
}

.container
{
    max-width: 100%;
    margin: 0 auto;
}

.container__main
{
    padding: 64px 32px 0 32px;
    display: flex;
    flex-direction: column;
}
.container__heading
{
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.container__heading-text
{
    font-size: 32px;
}
.container__information
{
    display: flex;
}
.container__information-img
{
    width: 100%;
    margin: 0 16px;
}
.container__information-name
{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 16px 0;
}
.container__information-detail
{
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}
.container__information-description
{
    margin: 16px 0;
}
.container__information-third
{
    display: flex;
    margin: 16px 0;
}
.container__information-img
{
    width: 20%;
}